extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.plugin_reference

block BLOCK_LAYOUT_CONTENT
	aside.warning
		p
			| プラグインはバージョン
			a(href="https://bitbucket.org/sk_0520/pe/issues?version=0.99.000") 0.99.000
			| の
			a(href="https://bitbucket.org/sk_0520/pe/issues/509") #509
			| にて実装されましたが試行錯誤しながらやってるので
			code interface
			| はころころ変わる。

	p プラグインの参考実装は
		em(data-path="dir") [Pe.git]/Source/Pe/Pe.Plugins.Reference.*/
		| に配置されています。
	p 扱いとしてはその時点の Pe で少なくとも稼働可能なプラグインとなる。

	section
		h2 Pe.Plugins.Reference.Clock
		p
			| ランチャーアイテム・ウィジェット・設定の参考実装。
			br
			| 時計を表示する。

	section
		h2 Pe.Plugins.Reference.Eyes
		p
			| ウィジェット・バックグラウンドの参考実装。
			br
			| xeyes のおめめ。

	section
		h2 Pe.Plugins.Reference.FileFinder
		p
			| コマンド入力・設定の参考実装。
			br
			| コマンド入力欄に入力された文字列をファイルパスとして扱う。

	section
		h2 Pe.Plugins.Reference.Html
		p
			| WebView ウィジェットの参考実装。
			br
			| 常に IME 死んでるマン。

	section
		h2 Pe.Plugins.Reference.ClassicTheme
		p
			| テーマの参考実装。
			br
			| テーマをプラグインとして扱うのが💩と教えてくれた偉大なる参考実装。

	aside.ref
		p
			a(href="https://bitbucket.org/sk_0520/pe/downloads/") ダウンロード
			| に最新のプラグインを配置している。

