extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.plugin_template

block BLOCK_LAYOUT_TAIL_SCRIPT
	script(src="script/plugin-template.ts")

block BLOCK_LAYOUT_CONTENT
	aside.warning
		p 作業中

	p プラグイン生成テンプレートを用いることでプラグインのひな形を簡単に生成する。

	.archive
		a(href="archives/plugin-template.zip") テンプレートを取得する

	section
		h2 実行方法
		p
			| Powershell で
			em(data-path='file-ps') create-project.ps1
			| を実行することでプラグインプロジェクトが生成される。

		p 以下コマンドでスクリプトドキュメントを表示。
		pre: code Get-Help .\create-project.ps1 -full

		aside.warning
			p ドライブ直下に作れたり作れなかったりする問題ありだけど🐛無視無視🐞

		aside.bugs
			p x86, x64 が生成されない問題あり。Visual Studio で開いたら補完されるから後回しで回避方法が分かれば直すよ。

		section
			h3 パラメータ生成
			form#generator
				dl
					dt プロジェクトディレクトリ
					dd
						input#plugin-dir(type="text")

					dt プラグインID
					dd
						input#plugin-id(type="")
						button#set-auto-plugin-id(type="button") 自動生成

					dt プラグイン名
					dd
						input#plugin-name(type="")

					dt 名前空間
					dd
						input#namespace(type="")
			pre
				code#output 実行例

	section
		h2 デバッグ方法
		p テンプレートを使用した場合はVisual Studioのデバッグ実行で問題なく処理できる想定。

		p 出来ない場合は以下のパラメータを付与したデバッグ実行を行えばできるはず。
		pre: code --debug-dev-mode --log=.\data\log --force-log --full-trace-log --user-dir=.\data\user --machine-dir=.\data\machine --temp-dir=.\data\temp --test-plugin-dir $(TargetDir) --test-plugin-name $(TargetName)

	section
		h2 各種ファイル群
		dl
			dt: em(data-path='file-ps') Build\build-project.ps1
			dd プロジェクトのビルド処理。

			dt: em(data-path='file-ps') Build\archive-plugin.ps1
			dd ビルドされたプラグインを圧縮。

			dt: em(data-path='file-ps') Build\create-info.ps1
			dd アーカイブをもとにプラグイン情報を生成。

			dt: em(data-path='file-ps') FullBuild.ps1
			dd Buildディレクトリ内スクリプトを使用したビルド一括処理

		section
			h3 FullBuild.ps1
			p あらかじめ用意しているビルド処理で基本的にこれで自動ビルドに対応できる。
			p 以下は最低限書き換えが必要な個所。
			dl
				dt: var $minimumVersion
				dd 実行可能 Pe 最低バージョン

				dt: var $archiveBaseUrl
				dd 配布アーカイブURL。 @ARCHIVENAME@ がアーカイブ名に置き換えられる。

				dt: var $releaseNoteUrl
				dd いらんねんこれ。 @VERSION@ がバージョン値に置き換えられる。
			aside.bugs
				p プロジェクトソースから定義を取ってこれるようにしないと二重定義がしんどいなぁと。


